
.navbar {
	background: black;
  border-bottom: 3.5px solid #FE0000;
	height: 87px;
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 1.2rem;
	position: sticky;
	top: 0;
	z-index: 999;
  }
  
  .navbar__container {
	display: flex;
	justify-content: space-between;
	height: 87px;
	z-index: 1;
	width: 100%;
	max-width: 1400px;
	margin: 0 auto;
	padding: 0 50px;
  }
  
  #navbar__logo {
    min-width: 650px;
	background-color: #fff;
	background-size: 100%;
	-webkit-background-clip: text;
	-moz-background-clip: text;
	-webkit-text-fill-color: transparent;
	-moz-text-fill-color: transparent;
	display: flex;
	align-items: center;
	cursor: pointer;
	text-decoration: none;
  font-family: 'IM Fell English SC', serif;
  font-weight: 400;
	font-size: 2.2rem;
  }
  
  .navbar__menu {
	display: flex;
	align-items: center;
	list-style: none;
  }
  
  .navbar__item {
	height: 87px;
  }
  
  .navbar__links {
	color: #fff;
	display: flex;
	align-items: center;
	justify-content: center;
	width: 110px;
	text-decoration: none;
	height: 100%;
	transition: all 0.3s ease;
  position: relative;
  cursor: pointer;
  }
